<h1>Home</h1>
<button onclick="window.location.href='/api/sessions/logout'">Cerrar sesión</button>
<div id="productsContainer">
    {{#each products.docs}}
        <div class="card">
            <p>{{this.title}}</p>
            <p>{{this.price}}</p>
            <p>{{this.thumbnail}}</p>
            <p>{{this.category}}</p>
            <div>
                <button>Agregar al carrito</button>
            </div>
        </div>
    {{/each}}
</div>

<!-- Agregar botones de paginación -->
{{#if products.hasPrevPage}}
    <a href="?page={{products.prevPage}}">PrevPage</a>
{{/if}}

{{#each products.pagesInRange}}
    <a href="?page={{this}}">{{this}}</a>
{{/each}}

{{#if products.hasNextPage}}
    <a href="?page={{products.nextPage}}">NextPage</a>
{{/if}}

<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
<script src="js/main.js"></script>