<!DOCTYPE html>
<html>
<head>
    <title>Perfil</title>
</head>
<body>
    <h1>Perfil del Usuario</h1>
    <p>Nombre: {{user.first_name}} {{user.last_name}}</p>
    <p>Email: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <p>Carrito ID: {{user.cart}}</p>
</body>
</html>
